<header class="flex flex-col items-center min-h-52 bg-cover bg-center bg-no-repeat
              bg-[url('/images/bg-mobile-light.jpg')] 
              dark:bg-[url('/images/bg-mobile-dark.jpg')]
              sm:bg-[url('/images/bg-desktop-light.jpg')] 
              sm:dark:bg-[url('/images/bg-desktop-dark.jpg transition-all duration-500 ')]">
  <section class="flex justify-between w-11/12 mt-10 text-dark">
    <h1 class="text-3xl font-bold tracking-[0.5em] ">TODO</h1>
    <button aria-label="toggle theme button" (click)="toggleTheme()">
      <svg class="size-8" fill="currentColor">
        @if (isDarkMode()) {
          <use xlink:href="/images/icons.svg#sun" />
        } @else {
          <use xlink:href="/images/icons.svg#moon" />
        }
      </svg>
    </button>
  </section>
</header>