<li class="flex w-full items-center justify-between py-1 px-4 border-b-2 border-gray-300">
  <div>
    <input
      class="hidden"
      type="checkbox"
      [id]="'check' + todo()?.id"
      [checked]="todo()?.completed"
      (change)="toggleTodo()"
    />
    <label
      class="flex items-center h-10 px-2 rounded cursor-pointer"
      [for]="'check' + todo()?.id"
    >
      <span
        class="checkbox-inner flex items-center justify-center size-6 border-2 hover:bg-cyan-200 border-gray-300 rounded-full"
        [ngClass]="{
          'bg-gradient-to-br from-cyan-400 to-purple-700': todo()?.completed,
          'bg-white': !todo()?.completed
        }"
      >
        @if (todo()?.completed) {
          <svg class="size-6 text-white" fill="currentColor">
            <use xlink:href="/images/icons.svg#check" />
          </svg>
        }
      </span>
      <span [ngClass]="todo()?.completed ? 'line-through text-gray-400': 'text-light dark:text-dark' " class="mx-4 text-sm ">{{ todo()?.title }}</span>
    </label>
  </div>
  
  <button (click)="deleteTodo()" class="text-gray-300 cursor-pointer hover:text-red-400">
    <svg class="size-6" fill="currentColor">
      <use xlink:href="/images/icons.svg#cancel" />
    </svg>
  </button>
</li>